body {
    padding: 0;
    margin: 0;
    background: #EDEDED;
    font-family: 'Source Sans Pro', sans-serif;;
}


/* ALL */
.container {
    width: 400px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 10px;
}

.margin-bottom {
    margin-bottom: 30px;
}

h3, p {
    margin: 0;
}



/* Layout */
header {
    margin-top: 10px;
}

.header--contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.section-contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-contents > .poster-wrapper {
     display: flex;
     align-items: center;
     gap: 10px;
}

.poster-wrapper > .poster--background {
    display: flex;
    flex-direction: column;
}

.poster--background > .name,
.poster--background > .place {
    margin: 0;
}

.post {
    margin: 10px -10px;
}

.interactions-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.interactions-wrapper > .icon {
    width: 30px;
    align-items: center;
}


/* Typography */
.name, .place, .likes, .comments {
    font-size: 15px;
}



/* Images */
.header--main-logo {
    width: 127px;
    height: 40px;
    font-weight: 700;
}

.profile {
    width: 40px;
    border-radius: 50%;
}


